/* Reset CSS*/
* {
  margin: 0;
  padding: 0;
}

/*Variaveis*/
:root {
  --branco: #fff;
  --cinza-claro: #f5f5f5;
  --light-red: #b10333;
  --dark-red: #69001d;
  --red: #de003e;
  --azul-rodape: #294c71;
}

body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background: var(--branco) url(./img/fundo.png) repeat-x;
}

#container {
  width: 750px;
  margin: 0 auto;
}

#topo {
  height: 150px;
  padding-top: 25px;
  background: url(./img/detalhe-topo.png) no-repeat right top;
}

.logo {
  width: 152px;
  height: 66px;
  background: url(./img/logo.png) no-repeat center;
  text-indent: -3000px;
}

/*Menu navegação Superior*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#topo ul {
  margin-top: 30px;
  background: var(--light-red);
  float: left;
}

#topo ul li {
  float: left;
}

#topo ul a {
  font-size: 0.9em;
  display: block;
  padding: 0.5em 1.5em;
  line-height: 2.1em;
  text-decoration: none;
  color: var(--branco);
  background: url(./img/divisor.png) repeat-y;
}

#topo ul a:hover {
  color: var(--dark-red);
}

body.home #menu-superior a#home,
body.brasil #menu-superior a#brasil,
body.internacional #menu-superior a#internacional,
body.economia #menu-superior a#economia,
body.saude #menu-superior a#saude,
body.ciencia #menu-superior a#ciencia,
body.fotos #menu-superior a#fotos {
  color: var(--branco);
  background: var(--red);
  cursor: text;
}

/*Layout site*/
#conteudo {
  margin-top: 60px;
  background: var(--cinza-claro);
}

#principal {
  width: 270px;
  float: left;
  margin: 0 0 20px 195px;
}

#uma-coluna #principal {
  width: 750px;
  margin: 0 0 20px 0;
}

#duas-colunas #principal {
  width: 555px;
}

#secundario {
  width: 270px;
  float: left;
  margin: 0 0 20px 15px;
}

#lateral {
  width: 180px;
  float: left;
  margin: 0 0 20px -750px;
}

/*Caixa*/
.caixa {
  margin: 10px 0;
  padding: 5px;
  background: #f3f3f3 url(./img/fundo-caixa.png);
}

h2 {
  font-size: 1em;
  background: var(--azul-rodape);
  color: var(--branco);
  padding: 5px;
}

.caixa-conteudo {
  background: var(--branco);
  padding: 5px;
  margin-top: 5px;
}

/*Rodapé*/
#rodape {
  clear: both;
  background: var(--azul-rodape);
  padding: 20px;
}

#conteudo-rodape {
  width: 750px;
  margin: 0 auto;
  color: var(--branco);
}
